alias here="xdg-open ."
alias op="xdg-open"
alias lapcon="ssh atlas@192.168.2.1"
alias lapsftp="sftp atlas@192.168.2.1"
alias update="sudo apt update"
alias ulist="apt list --upgradable"
alias upgrade="sudo apt upgrade"
